.navigation-button {
  width: 75%;
}

.central-button {
  width: 30%;
}

#home-button {
  width: 20%;
}

@media screen and (max-width: 992px) {
  #central-control-panel {
    order: 2;
  }
}

#all-pill {
  margin-bottom: .5em;
}

.genre-pill, .tag-pill {
  margin-right: .5em;
}
