<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ film.name }} <span class="font-weight-light">{{ film.year }}</span></h5>
    <span
      *ngFor="let genre of film.genres"
      class="badge badge-pill badge-success genre-pill">{{ genre }}</span>
    <!-- <span *ngFor="let tag of film.tags" class="badge badge-pill badge-success">{{ tag }}</span> -->
    <p class="card-text">{{ film.description }}</p>

    <button
      id="bookmark-button"
      type="button"
      class="btn btn-primary"
      (click)="onClickBookmark()">
      <div *ngIf="bookmark">Bookmark <i class="fas fa-star" style="color: red"></i></div>
      <div *ngIf="!bookmark">Bookmark <i class="far fa-star" style="color: white"></i></div>
    </button>

    <button 
      id="play-button"
      type="button"
      class="btn btn-info float-right"
      (click)="onClickPlay()">
      Play <i class="fas fa-play" style="color: white"></i>
    </button>

  </div>
</div>