<form [formGroup]="findFilmForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-12 col-md-6">
      <input
        id="name"
        type="text"
        class="form-control"
        placeholder="Film name"
        formControlName="name">
    </div>
    <div class="form-group col-6 col-md-4">
      <input
        id="year"
        type="number"
        class="form-control"
        placeholder="Year"
        min="1920" step="1"
        formControlName="year">
      <span
        *ngIf="!findFilmForm.get('year').valid && findFilmForm.get('year').touched"
        class="help-block">Please enter year greater than 1920</span>
    </div>
    <div class="form-group col-6 col-md-2">
      <button
        type="submit"
        class="btn btn-primary mb-2"
        style="width: 100%;"
        [disabled]="!findFilmForm.valid">Find</button>
    </div>
  </div>
</form>
<hr>
<router-outlet></router-outlet>
